{% extends '::base.html.twig' %}

{% set ciudadSeleccionada = app.request.attributes.has('ciudad')
        ? app.request.attributes.get('ciudad')
        : ciudad_por_defecto
%}

{% block body %}
    {#Dropdown structure#}
    <ul id="dropdown1" class="dropdown-content">
        {{ render(controller('CiudadBundle:Default:listaCiudades')) }}
    </ul>

    <nav>
        <div class="nav-wrapper">
            <h1><a href="{{ path('portada',{ 'ciudad': ciudadSeleccionada }) }}" class="brand-logo left">CUPON</a></h1>
            <ul id="nav-mobile" class="right hide-on-small-and-down">
                <li><a href="{{ path('portada') }}">Oferta del día</a></li>
                <li><a href="{{ path('recientes', {'ciudad': ciudadSeleccionada}) }}">Ofertas recientes</a></li>
                <li><a href="#">Mis ofertas</a></li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        {{ ciudadSeleccionada }}<i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">

        <div class="row">
            <div class="col s12 m6">
                {% block content %}{% endblock %}
            </div>
            <div class="col s12 m6">
                {% block aside %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}