<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} | Cupon</title>
    <link rel="stylesheet" href="{{ asset('bundles/materialize/css/materialize.min.css') }}">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <script type="text/javascript" src="{{ asset('bundles/materialize/js/materialize.min.js') }}"></script>
</head>
<body id="{% block id %}{% endblock %}">
<div class="container">
    <nav>
        <div class="nav-wrapper">
            <h1><a href="{{ path('portada') }}" class="brand-logo left">CUPON</a></h1>
            <ul id="nav-mobile" class="right hide-on-small-and-down">
                <li><a href="{{ path('portada') }}">Oferta del día</a></li>
                <li><a href="#">Ofertas recientes</a></li>
                <li><a href="#">Mis ofertas</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col s12 m6">
            {% block firts %}{% endblock %}
        </div>
        <div class="col s12 m6">
            {% block second %}{% endblock %}
        </div>
    </div>

    <footer>
        &copy; {{ 'now' | date('y') }} - Cupon
        <a href="{{ path('pagina_estatica', {'pagina': 'ayuda'}) }}">Ayuda</a> |
        <a href="{{ path('pagina_estatica', {'pagina': 'contacto'}) }}">Contacto</a> |
        <a href="{{ path('pagina_estatica', {'pagina': 'privacidad'}) }}">Privacidad</a> |
        <a href="{{ path('pagina_estatica', {'pagina': 'nosotros'}) }}">Sobre nosotros</a>
    </footer>
</div>
</body>
</html>